.about {
  background-color: #0a2850;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding: 100px 80px;
  margin: 0;
  max-width: 251px;
}

.about__content {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 119px 80px 173px;
  max-width: 660px;
}

.about__paragraph {
  margin: 0 0 20px;
}

.about__paragraph:last-of-type {
  margin: 0;
}

.about__circle {
  position: absolute;
}
